body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(36, 78, 62);
  height: 100%;
  padding-bottom: 40px;
  align-items: center;
}
h1 {
  text-shadow: 8px 8px 8px;
}
main {
  text-align: center;
}

#content {
  display: flex;
  margin: auto;
  width: 450px;
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.img {
  filter: grayscale(1) invert(1);
}

.head {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
#entre-list {
  outline: none;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #111;
  color: #fff;
  width: 430px;
  height: 20px;
}
.add-list {
  position: absolute;
  top: 20px;
  left: 400px;
  border: none;
  background-color: rgb(4, 60, 38);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 70px;
  height: 40px;
  
  
}
.taches {
  width: 100%;
  margin-top: 30px;
}
.item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid gray;
}
.item p {
  font-size: 16px;
  font-weight: bolder;
  color: #111;
  letter-spacing: 1px;
  width: auto;
  display: flex;
  gap: 5px;
}
p i:last-child {
  margin-left: 200px;
}

.item.completed p {
  text-decoration: line-through;
  color: black;
}
input[type="checkbox"] {
  accent-color: rgb(4, 60, 38);
}
@media screen and (max-width: 900px) {
  div#content {
    margin-top: 30px;
    width: 80vw;
    margin: auto;
  }
  #entre-list {
    width: 250px;
  }
  .add-list {
  position: absolute;
  top: 20px;
  left: 220px;
  border: none;
  background-color: rgb(4, 60, 38);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 70px;
  height: 40px;
}
